

h1, h2, h3 {

    font-family: 'Optima', sans-serif;
  }
  
  .navigation a {
    font-family: 'Optima', sans-serif;
  }

  .navigation{
    font-family: 'Optima', sans-serif;
    text-decoration: none;
    color: rgba(115, 104, 104, 0.028);
    
  }  